<label>Salutation: </label>
<input type="text" name="lead[salutation]" value="<%=@lead.salutation%>"></br>

<label>First Name: </label>
<input type="text" name="lead[first_name]" value="<%=@lead.first_name%>"></br>

<label>Last Name: </label>
<input type="text" name="lead[last_name]" value="<%=@lead.last_name%>"></br>

<label>Company: </label>
<input type="text" name="lead[company]" value="<%=@lead.company%>"></br>

<label>Title: </label>
<input type="text" name="lead[title]" value="<%=@lead.title%>"></br>

<label>Department: </label>
<input type="text" name="lead[department]" value="<%=@lead.department%>"></br>

<label>Contact Specialty: </label>
<select name="lead[contact_specialty]">
  <option value="Anesthesiology">Anesthesiology</option>
  <option value="Angiology">Angiology</option>
  <option value="BioMed">BioMed</option>
  <option value="Biomedical-Engineer">Biomedical Engineer</option>
  <option value="Cardiology">Cardiology</option>
  <option value="Cardiology, Vascular">Cardiology, Vascular</option>
  <option value="Cardiology - Diagnostic">Cardiology - Diagnostic</option>
  <option value="Cardiology - Intervention">Cardiology - Intervention</option>
  <option value="Cath Lab">Cath Lab</option>
  <option value="Chest/Respiratory">Chest/Respiratory</option>
  <option value="Commercial">Commercial</option>
  <option value="Critical Care">Critical Care</option>
  <option value="Deployable">Deployable</option>
  <option value="EMED">EMED</option>
  <option value="EMS">EMS</option>
  <option value="Endocrinology">Endocrinology</option>
  <option value="ENT">ENT</option>
  <option value="Family/General Practice">Family/General Practice</option>
  <option value="Gastroenterology">Gastroenterology</option>
  <option value="Geriatrics">Geriatrics</option>
  <option value="Hemodialysis">Hemodialysis</option>
  <option value="ICU/CCU">ICU/CCU</option>
  <option value="IMT">IMT</option>
  <option value="Internal Medicine">Internal Medicine</option>
  <option value="Mobile">Mobile</option>
  <option value="MSK">MSK</option>
  <option value="Multidisciplinery">Multidisciplinery</option>
  <option value="Nephrology">Nephrology</option>
  <option value="Neurology">Neurology</option>
  <option value="OB/GYN">OB/GYN</option>
  <option value="Oncology">Oncology</option>
  <option value="Operating Room">Operating Room</option>
  <option value="Opthamology">Opthamology</option>
  <option value="Orthopedics">Orthopedics</option>
  <option value="Other">Other</option>
  <option value="Pain Management">Pain Management</option>
  <option value="Pediatrics">Pediatrics</option>
  <option value="Phlebology">Phlebology</option>
  <option value="Physical Medicine and Rehab">Physical Medicine and Rehab</option>
  <option value="PICU/NICU">PICU/NICU</option>
  <option value="Radiology">Radiology</option>
  <option value="Radiology - Diagnostic">Radiology - Diagnostic</option>
  <option value="Renal">Renal</option>
  <option value="Resuscitation">Resuscitation</option>
  <option value="Rheumatology">Rheumatology</option>
  <option value="Sports Medicine">Sports Medicine</option>
  <option value="Surgery">Surgery</option>
  <option value="Surgery, Breast">Surgery, Breast</option>
  <option value="Surgery, General/Non-trauma">Surgery, General/Non-trauma</option>
  <option value="Surgery, Vascular">Surgery, Vascular</option>
  <option value="Technical">Technical</option>
  <option value="Urology">Urology</option>
  <option value="Vascular">Vascular</option>
  <option value="Vascular Access">Vascular Access</option>
  <option value="Vascular Lab">Vascular Lab</option>
  <option value="Vet">Vet</option>
</select></br>

<label>Location Type: </label>
<select name="lead[location]">
  <option value="Hospital">Hospital</option>
  <option value="Private Office/Clinic">Private Office/Clinic</option>
  <option value="Other">Other</option>
</select></br>

<label>Street: </label>
<input type="text" name="lead[street]" value="<%=@lead.street%>"></br>

<label>City: </label>
<input type="text" name="lead[city]" value="<%=@lead.city%>"></br>

<label>State: </label>
<input type="text" name="lead[state]" value="<%=@lead.state%>"></br>

<label>Zip Code: </label>
<input type="text" name="lead[zip_code]" value="<%=@lead.zip_code%>"></br>

<label>Country: </label>
<input type="text" name="lead[country]" value="<%=@lead.country%>"></br>

<label>Phone: </label>
<input type="text" name="lead[phone]" value="<%=@lead.phone%>"></br>

<label>Fax: </label>
<input type="text" name="lead[fax]" value="<%=@lead.fax%>"></br>

<label>E-mail: </label>
<input type="text" name="lead[email]" value="<%=@lead.email%>"></br>

<label>New to Ultrasound? </label>
<% if @lead.new_to_ultrasound == true %>
  <input type="radio" name="lead[new_to_ultrasound]" value="true" checked="checked">Yes
  <input type="radio" name="lead[new_to_ultrasound]" value="false">No</br>
<% else %>
  <input type="radio" name="lead[new_to_ultrasound]" value="true">Yes
  <input type="radio" name="lead[new_to_ultrasound]" value="false" checked="checked">No</br>
<% end %>

<label>Previous Ultrasound? </label>
<input type="text" name="lead[previous_ultrasound]" value="<%=@lead.previous_ultrasound%>"></br>

<label>Current SonoSite User? </label>
<% if @lead.current_sonosite == true %>
  <input type="radio" name="lead[current_sonosite]" value="true" checked="checked">Yes
  <input type="radio" name="lead[current_sonosite]" value="false">No</br>
<% else %>
  <input type="radio" name="lead[current_sonosite]" value="true">Yes
  <input type="radio" name="lead[current_sonosite]" value="false" checked="checked">No</br>
<% end %>

<label>Buying Timeframe: </label>
<select name="lead[buying_timeframe]">
  <option value="Unknown">Unknown</option>
  <option value="Less than 30 Days">Less than 30 Days</option>
  <option value="30-90 Days">30-90 Days</option>
  <option value="3-6 Months">3-6 Months</option>
  <option value="6-12 Months">6-12 Months</option>
  <option value="Over 12 Months">Over 12 Months</option>
</select></br>

<label>Product: </label>
<input type="text" name="lead[product]" value="<%=@lead.product%>"></br>

<label>Rating: </label>
<select name="lead[rating]">
  <option value="High">High</option>
  <option value="Medium">Medium</option>
  <option value="Low">Low</option>
</select></br>

<label>Marketing Comments: </label>
<textarea type="textarea" rows="6" wrap="hard" name="lead[marketing_comments]"><%=@lead.marketing_comments%></textarea>
